ValidaXML/joc1.dtd

<!ELEMENT joc (titol, companyia, plataforma, anyLlançament, personatges)>

<!ELEMENT titol (#PCDATA)>
<!ELEMENT companyia (#PCDATA)>
<!ELEMENT plataforma (#PCDATA)>
<!ELEMENT anyLlançament (#PCDATA)>

<!ELEMENT personatges (personatge+)>
<!ELEMENT personatge (nom, rol)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT rol (#PCDATA)>
